body {
    font-family: monospace;
}

.timeline {
    width: 400px;
    height: 100%;
    padding: 10px;
    margin: auto;
    border: solid;
    border-color: aqua;
}

.form__input {
    width: 100%;
}

.timeline__content {
    display: block;
}

.timeline__content__li {
    display: inline-block;
    list-style: none;
    height: 100%;
    width: 100%;
    padding: 10px 0px;
}

.content__img {
    float: left;
    width: 60px;
    height: 60px;
    padding: 15px 0px;
}

.content__container {
    display: block;
}

.content__text {
}

.content__email {
}

.content__remove {
    float: right;
    margin: auto;
    border: none;
    cursor: pointer;
    font-size: 20px;
}