<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <ul class="list-group">
      <a class="list-group" style="cursor: pointer"></a>
    </ul>
  </div>
</div>