body {
    margin: 0;
    font-family: monospace;
    height:100%;
}

.body__display {
    width: 700px;
    margin: auto;
    text-align: center;
}

img {
    float: right;
}

.body__form {
    float: left;
    display: grid;
    width: 60%
}

input {
    margin: 10px;
    padding: 5px;
}

#body__form__message {
}

#submit {
    width: 40%;
    padding: 10px;
}

#body__confirmation__banner{
    background-color: #d2f7d9;
    visibility: hidden;
    
}