body {
    margin: 0;
}
.wrap {
    width: 800px;
    height: 800px;
    margin: auto;
    background: grey;
    position: relative;
}

.box {
    width: 200px;
    height: 200px;
    margin: auto;
    background: red;
    position: absolute;
    top: 20px;
    left: 30px;
}