body {
    background-color: grey;
 }
 
 div {
    width: 600px;
    margin: auto;
 }
 
 p.blockquote {
    text-align: center;
    border: solid white;
    border-radius: 10px;
 }
 
 blockquote {
    margin: auto;
 }