a {
    color: red;
    text-decoration: none;
}

h1 {
    /** sans-serif - cat of fonts that do not use serifs **/
    font-family: monospace, Arial, sans-serif;
}

div {
    background-color: gray;
    width: 500px;
    margin: auto;
    text-align: auto;
}