body {
    margin: 0;
    font-family: monospace;
    height:100%;
}

.header {
    overflow: hidden;
    background-color: grey;
    padding: 20px 10px;
}

.header a {
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 18px;
}

.header a:hover {
    color: white;
}

.header__logo {
    padding-left: 10px;
    float: left;
    font-weight: bold;
    font-size: 40px;
}

.header__icons {
    float: right;
}

.header__icons ul{
    list-style: none;
}

.links {
    overflow: hidden;
    background-color: #e5e5e5;
    width: 20%;
    height: 100vh; /* @todo try without */
    float: left;
    text-align: center;
}

.links__list {
    list-style: none;
}

.links__list li a{
    text-decoration: none;
    color: black;
    width: 100%;
    display: block;
    font-size: 18px;
    padding: 10px;
}

/**To do
* style links in diferent states
* @todo diplay underline for mouseover for link
**/
.links__list li a:hover {
    color: white;
    text-decoration: underline;
}

.post {
    margin:2%;
    float: left;
    padding: 2%;
    border: solid 2px;
    border-color: #e5e5e5;
    border-radius: 4%;
    text-align: center;
}

.support {
    position: fixed;
    bottom: 0;
    right: 10%;
    background-color: red;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: -60px; /** @todo avoid this */
    font-size: 100px;
    color: white;
}

@media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header__logo {
       float: none;
    }
    .links {
        display: none
    }
  }