body {
    width: 600px;
    margin: 20px auto;
    font-family: sans-serif;
}

h2 {
    font-size: 40px;
    line-height: 43px;
}

a {
    color: green;
}

article h2 {
    margin: 0;
}

article img {
    float: left;
    margin-right: 40px;
}

.meta {
    padding-left: 0;
    margin-top: 0;
}

.meta a, .post_info a {
    font-style: italic;
    font-size: 14px;
}

.meta li:after {
    color: green;
    content: '\\';
    padding: 0 4px;
}

.meta li:last-child:after {
    content: none;
}

.meta li {
    display: inline;
}

.preview {
    float: right;
    width: 360px
}

.post_info {
    background-color: rgba(128, 128, 128, 0.336);
    color: rgb(190, 189, 189);
    float: left;
}

.post_info a {
    color: #999;
    text-decoration: none;
}

.post_info a:hover {
    color: #000;
}

.body {
    clear: both;
}